.heroy__button {
  display: inline-block;
  color: $body-color;
  background-color: #188ce8;
  font-family: "Roboto", sans-serif;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  min-width: 216px;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }

  &:active {
    background-color: #188ce8;

    left: 692px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
